/* style.css */

.container {
  box-sizing: border-box;
  max-width: 400px;
  margin: 50px auto;
  margin-top: 20px;
  padding: 20px;
  padding-top: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
}

input[type="number"] {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculate {
  width: 60%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: large;
}

.calculate:hover {
  background-color: #0056b3;
}

.reset {
  margin-left: 25px;
  width: 30%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: large;
}

.reset:hover {
  background-color: #444;
}

.results {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

table {
    border-collapse: collapse; /* Remove default table borders */
    width: 100%; /* Make the table fill the container width */
    margin: 20px auto; /* Add some margin for spacing */
    text-align: center; /* Align text to the center */
  }
  
  .HinfoL {
    text-align: left; /* Align text to the left */
  }
  
  td {
    border: 1px solid #1d1818;
    background-color: #e9e9e9;
    color: black;
    padding: 5px 3px;
  }
  
  .heading td{
    font-weight: bolder;
    background-color: #336699;
    color: #fff;
  }

  /* Default styles for all devices */
  .container {
    box-sizing: border-box;
    max-width: 400px;
    margin: 50px auto;
    margin-top: 20px;
    padding: 20px;
    padding-top: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for devices with a screen width of 768px or less */
  @media screen and (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  
    form {
      margin-top: 10px;
    }
  
    input[type="number"] {
      width: 100%;
    }
  
    .calculate {
      width: 100%;
      font-size: medium;
    }
  
    table {
      width: 100%;
    }
  }

  /* Default styles for all devices */
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .calculate,
  .reset {
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
  }

  .calculate {
    width: 60%;
  }

  .reset {
    width: 30%;
  }
  
  /* Styles for devices with a screen width of 768px or less */
  @media screen and (max-width: 768px) {
    .button-container {
      flex-direction: row;
      align-items: center;
    }
  }